@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-radius: 10px;
  height: 255px;
  width: 335px;
  overflow: hidden;
  gap: 20px;
  @media screen and (min-width: 1050px) {
    width: 340px;
    height: 340px;
  }
  figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    figcaption {
      display: flex;
      position: absolute;
      width: 100%;
      bottom: 20px;
      padding: 0 20px;
      margin: -20px;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
  }
  &__h3 {
    display: flex;
    width: 100vw;
    align-items: flex-end;
    color: $tertiary-color;
    font-size: 18px;
    height: 52px;
    @include font;
  }
}
