@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";

.Collapse {
  overflow: hidden;
  font-size: 13px;
  @include font;
  @media screen and (min-width: 1050px) {
    font-size: 18px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: $primary-color;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    color: $tertiary-color;
    cursor: pointer;
    @media screen and (min-width: 1050px) {
      height: 52px;
    }
  }
  &__arrow {
    width: 18.42px;
    height: 18.42px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    user-select: none;
  }
  &--open &__arrow {
    transform: rotate(-180deg);
  }
  &__content {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
  }
  &--open &__content {
    max-height: var(--height);
  }
  &__padding {
    padding: 15px 12px 15px 12px;
    > ul {
      padding: 0;
      margin: 0;
    }
  }
}
