@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";

.Footer {
  background-color: $footer-color;
  padding: 62px 0;
  &__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footer-color;
    border: 1px none;
  }
  &__logo {
    width: 122px;
  }
  &__txt {
    margin: 0;
    color: $tertiary-color;
    font-size: 12px;
    height: 46px;
    letter-spacing: 0;
    display: flex;
    align-items: flex-end;
    @include font;
  }
}
