.Footer {
  background-color: #000000;
  padding: 62px 0;
  &__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 1px none;
  }
  &__logo {
    width: 122px;
  }
  &__txt {
    margin: 0;
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 46px;
    letter-spacing: 0;
    line-height: 17.1px;
    display: flex;
    align-items: flex-end;
  }
}
