.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1050px) {
    padding: 0 100px;
    &__Footer {
      margin: 0 -100px;
    }
  }
  &::after {
    content: "";
    flex-grow: 1;
  }
  &__Footer {
    order: 1;
  }
}
