@import "../styles/utils/variables.scss";

.Rate {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  &__star {
    font-size: 18px;
    &--full {
      color: $primary-color;
    }
    &--empty {
      color: $empty-star;
    }
  }
  @media screen and (min-width: 700px) {
    justify-content: end;
    &__star {
      font-size: 27px;
      @media screen and (min-width: 1440px) {
        font-size: 36px;
      }
    }
  }
}
