@import "../styles/utils/variables.scss";
@import "../styles/utils/mixins.scss";

.Tag {
  display: flex;
  background-color: $primary-color;
  color: $tertiary-color;
  font-size: 10px;
  border-radius: 5px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 84px;
  max-width: fit-content;
  height: 18px;
  @include font;
  @media screen and (min-width: 1050px) {
    min-width: 115px;
    height: 25px;
    font-size: 14px;
  }
}
