.gallery {
    background-color: #f6f6f6;
    border-radius: 25px;
    height: 829px;
    position: relative;
    width: 1240px;
    .thumb-instance {
      left: 50px;
      position: absolute;
      top: 446px;
    }
    .design-component-instance-node {
      left: 450px;
      position: absolute;
      top: 56px;
    }
    .thumb-2 {
      left: 50px;
      position: absolute;
      top: 56px;
    }
    .thumb-3 {
      left: 450px;
      position: absolute;
      top: 446px;
    }
    .thumb-4 {
      left: 850px;
      position: absolute;
      top: 56px;
    }
    .thumb-5 {
      left: 850px;
      position: absolute;
      top: 446px;
    }
  }
  
  
  
  
  