.Collapse {
  overflow: hidden;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: #ff6060;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    color: #ffffff;
    cursor: pointer;
    img {
      width: 18.42px;
      height: 18.42px;
      transition: transform 0.3s ease;
    }
  }
  &__content {
    background-color: #f6f6f6;
    color: #ff6060;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
    > ul {
      padding-left: 0;
    }
  }
  &__padding {
    padding: 15px 12px 15px 12px;
  }
  &--open &__content {
    max-height: var(--height);
  }
  // @media screen and (min-width: 700px) {
  //   &__header {
  //     height: ;
  //   }
  // }
  @media screen and (min-width: 1050px) {
    font-size: 18px;
    &__header {
      height: 52px;
    }
  }
}
