.Collapse {
  // &--open {
  // }
  // &--closed {
  // }
  &__title {
    margin: 0;
    padding: 10px;
    background-color: orange;
  }
  &__content {
    background-color: silver;
  }
  &--closed &__content {
    max-height: 0;
    overflow: hidden;
  }
}
