.DevNavbar {
  height: 34px;
  width: 100%;
  display: flex;
  background-color: blue;
  z-index: 3;

  &__ul {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 50px;
  }
  &__li {
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
    height: 34px;
    letter-spacing: 0;
    line-height: 34.2px;
    text-align: right;
  }
}
